/* Fuentes */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

#contact {
  padding-bottom: 280px;
}

/* Estilos de subrayado azul */
.rayaColorAzul {
  text-decoration-color: #149ddd;
  text-decoration-thickness: 3px;
}

/* Estilos de iconos */
.iconos a {
  color: white;
  background-color: #2b2e3b;
}

/* Estilos de navegación */
.nav-item a,
.nav-item i {
  color: #81818a;
}

.nav-item a:hover {
  color: white;
}

/* Estilos de iconos al hacer hover */
.icono-to-top {
  width: 50px;
  height: 50px;
  background-color: #149ddd;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
}

/* Estilos de fuente celeste */
.fuenteCeleste,
#about ul i,
.nav-item li:hover > a i,
.iconos-contact,
.nav-item a:hover #icono1,
.nav-item a:hover #icono2,
.nav-item a:hover #icono3,
.nav-item a:hover #icono4,
.nav-item a:hover #icono5,
.nav-item a:hover #icono6 {
  color: #149ddd;
}

/* Estilos de iconos al estar seleccionados */
.nav-item a:checked + #icono1,
.nav-item a:checked + #icono2,
.nav-item a:checked + #icono3,
.nav-item a:checked + #icono4,
.nav-item a:checked + #icono5,
.nav-item a:checked + #icono6 {
  color: #149ddd;
}

/* Estilos del botón hamburguesa */
.navbar-toggler {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: relative;
}

/* Estilos del botón hamburguesa - líneas */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: white;
}

.navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler-icon::after {
  bottom: -6px;
}

/* Estilos del offcanvas en pantallas grandes */
@media (min-width: 1200px) {
  .offcanvas.show-xl {
    visibility: visible;
    transform: none;
    position: sticky;
    top: 0;
    min-height: 100vh;
    width: 100%;
  }
}

/* Estilos de la lista del offcanvas */
.offcanvas ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offcanvas li {
  margin-top: 20px;
}

/* Estilos de la imagen del navbar */
#imagen-navbar {
  border: 8px solid #3b3e4e;
}

/* Estilos de las redes sociales del navbar */
#redes-navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilos de las secciones del navbar */
#secciones-navbar {
  margin-left: 2rem;
}

#secciones-navbar li i {
  margin-right: 10px;
}

#secciones-navbar li a {
  text-decoration: none;
  color: white;
}

/* Estilos del título de la página */
.titulo-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  color: white;
}

/* Estilos de la imagen de fondo de la página principal */
#imagen-fondo {
  background: url(../img/hero-bg.jpeg) top center fixed;
  background-size: cover;
  height: 100vh;
  animation: transform 10s ease-in-out;
}

/* Estilos del subrayado */
.subtitulo {
  color: white;
}

#subrayado {
  text-decoration: underline;
  text-decoration-color: #149ddd;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

/* Estilos de los iconos de facts */
.bi-chevron-right {
  color: #149ddd;
}

.iconos-facts .bi {
  color: #149ddd;
  font-size: 45px;
}

.iconos-facts span {
  font-size: 48px;
}

/* Estilos de la imagen de about */
#tamano-foto-about {
  width: 295px;
  height: 295px;
}

/* Estilos de la lista de about */
.lista-about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-about li {
  margin-bottom: 20px;
}

/* Estilos de la barra de progreso */
.progress {
  border-radius: 0;
}

#progress-html {
  width: 100%;
}

#progress-css {
  width: 90%;
}

#progress-javascript {
  width: 75%;
}

#progress-php {
  width: 80%;
}

#progress-wordpress {
  width: 90%;
}

#progress-photoshop {
  width: 55%;
}

/* Estilos de la línea de resume */
.linea-resume {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}

.linea-resume h6 {
  display: inline-block;
  background: #e4edf9;
  padding: 5px 15px;
  font-weight: 700;
}

.linea-resume::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 85%;
  left: 3px;
  top: 0;
  background: #1f5297;
}

/* Estilos del navbar de portfolio */
#navbar-portfolio {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

#navbar-portfolio span {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #1f5297;
  margin-left: 20px;
}

/* Estilos de las imágenes de portfolio */
.portfolio-imagenes div {
  margin-bottom: 25px;
}

/* Estilos de los iconos de services */
.iconos-services p {
  margin-left: 80px;
}

/* Estilos de los iconos de services - círculo azul */
.iconos-services i {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #149ddd;
  color: white;
  border-radius: 50%;
}

/* Estilos de los testimonios */
.carousel-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-container {
  border-radius: 8px;
}

/* Estilos del contacto */
.div-iz {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.div-iz i {
  float: left;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 24px;
  background-color: #dff3fc;
  color: #149ddd;
  border-radius: 50%;
}

.div-iz p {
  margin-left: 60px;
  margin-top: -10px;
}

.div-der {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.formulario-custom-col {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .custom-your {
    width: 50%;
  }
}

.formulario-custom-col label {
  display: block;
  margin-bottom: 5px;
}

.formulario-custom-col input {
  display: block;
  width: 100%;
}

#floatingTextarea2 {
  height: 300px;
}

/* Código nuevo proyecto */

/*Transiciones Sergio Díaz*/

/* 
La regla '.colAbout' define un contenedor con desbordamiento oculto.
*/
.colAbout {
  overflow: hidden;
}

/* 
La regla '.positionAbout' define un elemento con posición relativa.
*/
.positionAbout {
  position: relative;
}

/* 
La regla '.bordeAbout' define un elemento con bordes redondeados y una transición suave.
La transición se aplica a todas las propiedades y dura 1 segundo.
El desbordamiento del contenido está oculto.
*/
.bordeAbout {
  border-radius: 2%;
  transition: all 1s ease;
  overflow: hidden;
}

/* 
La regla '.smith' define un elemento con posición absoluta.
El ancho es automático y la altura es el 80% del contenedor padre.
El elemento se coloca en la parte inferior centrada horizontalmente.
La opacidad inicial es 0.
La transición se aplica a todas las propiedades y dura 1 segundo.
*/
.smith {
  position: absolute;
  width: auto;
  height: 80%;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 1s ease;
}

/* 
La regla '.imgAbout' define un elemento con un color de fondo y bordes redondeados.
El contenido tiene un relleno de 5px.
La transición se aplica a todas las propiedades y dura 1 segundo.
*/
.imgAbout {
  background-color: #a7a7a7;
  padding: 5px;
  border-radius: 2%;
  transition: all 1s ease;
}

/* 
Cuando se realiza un desplazamiento sobre un elemento con la clase '.positionAbout',
se aplican las siguientes transformaciones a los elementos hijos:
- Se aplica una perspectiva de 350px y se rota en el eje X 10 grados y se escala al 90% del tamaño original.
- Se agrega una sombra al elemento con un desenfoque de 10px y un color de sombra negro.
- El elemento con la clase '.smith' se mueve hacia arriba y se hace visible.
- El elemento con la clase '.imgAbout' se escala al 150% del tamaño original y se aplica un desenfoque de 5px.
*/
.positionAbout:hover .bordeAbout {
  transform: perspective(350px) rotateX(10deg) scale(0.9);
  box-shadow: 0px 0px 10px #000000;
  filter: brightness(30%);
}

.positionAbout:hover .smith {
  bottom: 0;
  opacity: 1;
}

.positionAbout:hover .imgAbout {
  transform: scale(1.5);
  filter: blur(5px);
}

/* 
La regla '.contenedorImgPortfolio' define un contenedor con desbordamiento oculto.
*/
.contenedorImgPortfolio {
  overflow: hidden;
  border-radius: 2%;
}

/* 
La regla '.imagenPortfolio' define una imagen con un filtro de escala de grises del 70%.
La transición dura 0.3 segundos.
Cuando se realiza un desplazamiento sobre la imagen, esta se escala al 130% del tamaño original y se quita el filtro de escala de grises.
*/
.imagenPortfolio {
  filter: grayscale(70%);
  transition: 0.3s;
}

.imagenPortfolio:hover {
  transform: scale(1.3);
  filter: grayscale(0%);
}

/*/
/*Transformaciones Sergio Guijarro*/

/* 
La regla '.navbar-toggler' define un elemento con una transición de transformación de 0.7 segundos.
Cuando se realiza un desplazamiento sobre el elemento, este rota 360 grados y se escala al 130% del tamaño original.
*/
.navbar-toggler {
  transition: transform 0.7s ease-in-out;
}

.navbar-toggler:hover {
  transform: rotate(360deg) scale(1.3);
}

/* 
La regla '#primo-alex' define un elemento con una transición de transformación de 3 segundos.
Cuando se realiza un desplazamiento sobre el elemento, este se escala al 30% del tamaño original, se desplaza hacia arriba 700px y se inclina -30 grados en los ejes X e Y.
*/
#primo-alex {
  transition: transform 3s ease-in-out;
}

#primo-alex:hover {
  transform: scale(0.3) translateY(-700px) skew(-30deg, -30deg);
}

/* 
La regla '.iconos-services i' define elementos <i> dentro de un contenedor con una transición de transformación de 2 segundos, un cambio de color de fondo de 4 segundos y un cambio de sombra de 4 segundos.
Cuando se realiza un desplazamiento sobre los elementos, estos rota 2 vueltas, se escala al 150% del tamaño original, cambian el color de fondo a rojo y se agrega una sombra con un desenfoque de 10px y un color de sombra rojo.
*/
.iconos-services i {
  transition: transform 2s ease-in-out, background 4s ease-in-out,
    box-shadow 4s ease-in-out;
}

.iconos-services i:hover {
  transform: rotate(2turn) scale(1.5);
  background: red;
  box-shadow: 0 0 10px red;
}

/* Jesús de Dios*/

/* 
La regla 'section' aplica una animación llamada 'aparicion' a los elementos <section>.
La animación dura 2 segundos y tiene una aceleración y desaceleración suave.
La animación se ejecuta en ambos sentidos.
La animación se controla mediante una línea de tiempo llamada 'view()'.
La animación se aplica en el rango de tiempo desde el 30% que se ve en el eje X y que en el eje Y cubra hasta el 50%.
*/
section {
  animation: aparicion 2s ease-in-out backwards;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}

/* 
Las siguientes reglas aplican una animación llamada 'progreso' a los elementos con los siguientes IDs:
#progress-html, #progress-css, #progress-javascript, #progress-php, #progress-wordpress, #progress-photoshop.
La animación dura 5 segundos y tiene una aceleración y desaceleración suave.
La animación se retrasa 2 segundos antes de comenzar para que de tiempo a visualizarla cuando entremos en la web.
*/
#progress-html,
#progress-css,
#progress-javascript,
#progress-php,
#progress-wordpress,
#progress-photoshop {
  animation: progreso 5s ease-in-out 2s;
}

/* 
La regla '.barra' define un elemento con una posición fija que ocupa toda la pantalla.
El elemento tiene un ancho del 100% y una altura de 5px.
El elemento aplica una animación llamada 'progreso'.
La animación se controla mediante una línea de tiempo llamada 'scroll()'.
El elemento tiene un z-index de 1111 para que siempre este por encima de cualquier elemento que haya.
*/
.barra {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  animation: progreso;
  animation-timeline: scroll();
  z-index: 1111;
}

/* Keyframes */

/* 
La animación 'progreso' define una serie de pasos para cambiar el ancho y el color de fondo de un elemento.
En el 0% de la animación, el ancho es 0% y el color de fondo es rojo.
En el 25% de la animación, el color de fondo cambia a naranja.
En el 50% de la animación, el color de fondo cambia a amarillo.
En el 100% de la animación, el color de fondo cambia a verde.
*/
@keyframes progreso {
  0% {
    width: 0%;
    background-color: red;
  }

  25% {
    background-color: orange;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: green;
  }
}

/* 
La animación 'aparicion' define una serie de pasos para cambiar la opacidad y la escala de un elemento.
En el 0% de la animación, la opacidad es 0 y la escala es 0.1.
En el 25% de la animación, la opacidad es 0.25 y la escala es 0.25.
En el 50% de la animación, la opacidad es 0.5 y la escala es 0.5.
En el 100% de la animación, la opacidad es 1 y la escala es 1.
*/
@keyframes aparicion {
  0% {
    opacity: 0;
    scale: 0.1;
  }

  25% {
    opacity: 0.25;
    scale: 0.25;
  }

  50% {
    opacity: 0.5;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
