h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/*Bot칩n hamburguesa*/
.navbar-toggler {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 10px;
  right: 10px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: relative;
}

/*Esto es para a침adirle las tres rayitas*/
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: white;
}

.navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler-icon::after {
  bottom: -6px;
}

/*Fin bot칩n hamburguesa*/

/*Media query para que se muestre siempre el offcanvas en xl*/
@media (min-width: 1200px) {
  .offcanvas.show-xl {
    visibility: visible;
    transform: none;
    position: sticky;
    /*Para que se quede fijo*/
    top: 0;
    /*Para que se quede arriba*/
    min-height: 100vh;
    /*Para que ocupe toda la pantalla*/
    width: 100%;
  }
}

.offcanvas ul {
  /*Esto es para quitar el padding y el margin que te crea el ul, aparte quitar*/
  list-style: none;
  margin: 0;
  padding: 0;
}

.offcanvas li {
  margin-top: 20px;
}

#imagen-navbar {
  border: 8px solid #3b3e4e;
}

#redes-navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#secciones-navbar {
  margin-left: 2rem;
}

#secciones-navbar li i {
  margin-right: 10px;
}

#secciones-navbar li a {
  text-decoration: none;
  color: white;
}

.titulo-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  color: white;
}

/*imagen de fondo de la p치gina principal*/
#imagen-fondo {
  background: url(../img/hero-bg.jpeg) top center fixed;
  background-size: cover;
  height: 100vh;
}

.subtitulo {
  color: white;
}

#subrayado {
  text-decoration: underline;
  text-decoration-color: #149ddd;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

/*About*/

.bi-chevron-right {
  color: #149ddd;
}

#tamano-foto-about {
  width: 295px;
  height: 295px;
}

.lista-about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-about li {
  margin-bottom: 20px;
}

/*Fin about*/

/*Facts*/
.iconos-facts .bi {
  color: #149ddd;
  font-size: 45px;
}

.iconos-facts span {
  font-size: 48px;
}

/*Fin facts*/

/*Skills*/

.fondo-gris {
  background-color: #f5f8fd;
}
.progress {
  border-radius: 0;
}

#progress-html {
  width: 100%;
}

#progress-css {
  width: 90%;
}

#progress-javascript {
  width: 75%;
}

#progress-php {
  width: 80%;
}

#progress-wordpress {
  width: 90%;
}

#progress-photoshop {
  width: 55%;
}

/*Fin Skills*/

/*Resume*/
.linea-resume {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}

.linea-resume h6 {
  display: inline-block;
  background: #e4edf9;
  padding: 5px 15px;
  font-weight: 700;
}

.linea-resume::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 85%;
  left: 3px;
  top: 0;
  background: #1f5297;
}

/*Fin Resume*/

/*Portfolio*/
#navbar-portfolio {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

#navbar-portfolio span {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #1f5297;
  margin-left: 20px;
}

.portfolio-imagenes div {
  margin-bottom: 25px;
}

/*Fin Portfolio*/

/*Services*/

.iconos-services p {
  margin-left: 80px;
}

/*Agregar circulo azul a los iconos*/
.iconos-services i {
  float: left;
  /*Para que se quede a la izquierda*/
  width: 50px;
  /*Para que se ponga el circulo azul*/
  height: 50px;
  line-height: 50px;
  /*Para poner el icono en vertical en el centro*/
  text-align: center;
  /*para centrar el icono horizontalmente */
  font-size: 24px;
  background-color: #149ddd;
  color: white;
  border-radius: 50%;
}

/*Fin Services*/

/*Testimonials*/

.carousel-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-container {
  border-radius: 8px;
}

/*Contact*/

.div-iz {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.div-iz i {
  float: left;
  /*Para que se quede a la izquierda*/
  width: 45px;
  /*Para que se ponga el circulo azul*/
  height: 45px;
  line-height: 45px;
  /*Para poner el icono en vertical en el centro*/
  text-align: center;
  /*para centrar el icono horizontalmente */
  font-size: 24px;
  background-color: #dff3fc;
  color: #149ddd;
  border-radius: 50%;
}

.div-iz p {
  margin-left: 60px;
  margin-top: -10px;
}

.div-der {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.formulario-custom-col {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .custom-your {
    width: 50%;
  }
}

.formulario-custom-col label {
  display: block;
  margin-bottom: 5px;
}

.formulario-custom-col input {
  display: block;
  width: 100%;
}

#floatingTextarea2 {
  height: 300px;
}
/*Fin Contact*/

section {
  animation: aparicion 2s ease-in-out both;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}
@keyframes progreso {
  0% {
    width: 0%;
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
#progress-html,
#progress-css,
#progress-javascript,
#progress-php,
#progress-wordpress,
#progress-photoshop {
  animation: progreso 5s ease-in-out;
}
